body {
    background-color: lightslategray
}

.container p, h1 {
    line-height: 9px;
}

header {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: teal;
}

.container-1 {
    margin-bottom: 55px;   
}

#target-score {
    padding: 50px;
}

.score-header {
    margin-bottom: 20px;
}

#target-score h1 {
    font-size: 70px;
    font-weight: bold;
}

#my-score, #counters {
    padding: 20px; 
}

#my-score {
    font-size: 60px;
    padding-top: 20px;
}

#my-score h2 {
    font-size: 60px;
    font-weight: bold;
    padding-top: 10px;
}

#counters {
    padding-top: 30px;
    font-size: 20px;
}

#crystals-div {
    padding: 0;
}

.crystal-container {
    padding: 2px;
}
